.veg-headbar,
.non-veg-headbar {
    /* border: 2px solid red; */
    border-radius: 50px;
    background-color: black;
    opacity: 0.9;
    margin: 10px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    /* height: 20vh; */
}

.veg-title,
.non-veg-title{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin: 2px auto;
    padding: 2px;
}